EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 465
EMAIL_USE_SSL = True
EMAIL_HOST_USER = yourmail@gmail.com
EMAIL_HOST_PASSWORD = yourgoogletoken

SECRET_KEY="django-insecure-^e$v43zdj3yz91df&&@jpi9j@psa$x4)jdj3w(017le%@kk^*x"
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres